# 数据集介绍
http://files.grouplens.org/datasets/movielens/ml-100k.zip
MovieLens数据集，它是在实现和测试推荐引擎时所使用的最常见的数据集之一。它包含来自于943个用户以及精选的1682部电影的100K个电影打分。

In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append('/Users/luoyonggui/PycharmProjects/mayiutils_n1/mayiutils/data_prepare')
from data_explore import DataExplore as de

# load data

In [2]:
header = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('ml_100k/u.data', sep='\t', names=header)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [4]:
de.describe(df)

num of records: 100000, num of columns: 4

          Data Type  Unique Values  count Missing  % Missing       Mode  Count Mode  % Mode          mean           std          min          25%          50%          75%          max
user_id       int64            943              0        0.0        405         737   0.737  4.624848e+02  2.666144e+02          1.0        254.0        447.0        682.0        943.0
item_id       int64           1682              0        0.0         50         583   0.583  4.255301e+02  3.307984e+02          1.0        175.0        322.0        631.0       1682.0
rating        int64              5              0        0.0          4       34174  34.174  3.529860e+00  1.125674e+00          1.0          3.0          4.0          4.0          5.0
timestamp     int64          49282              0        0.0  891033606          12   0.012  8.835289e+08  5.343856e+06  874724710.0  879448709.5  882826944.0  888259984.0  893286638.0

In [7]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [9]:
n_users = 943
n_items = 1682

In [10]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3] 
test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [11]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [12]:
user_similarity.shape

(943, 943)

In [13]:
user_similarity#是一个对称矩阵，user_similarity[i,j]表示第i个用户和第j个用户的相似度

array([[0.        , 0.89382887, 0.9981419 , ..., 0.87746576, 0.83253601,
        0.67008127],
       [0.89382887, 0.        , 0.93336148, ..., 0.86224031, 0.8592871 ,
        0.97264477],
       [0.9981419 , 0.93336148, 0.        , ..., 1.        , 0.93405877,
        0.98522731],
       ...,
       [0.87746576, 0.86224031, 1.        , ..., 0.        , 0.87337553,
        0.94401163],
       [0.83253601, 0.8592871 , 0.93405877, ..., 0.87337553, 0.        ,
        0.8390684 ],
       [0.67008127, 0.97264477, 0.98522731, ..., 0.94401163, 0.8390684 ,
        0.        ]])

In [14]:
item_similarity.shape

(1682, 1682)