In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('/Users/luoyonggui/Documents/sw.xlsx', converters={'股票代码': str})

In [7]:
df.head()

  行业名称    股票代码   股票名称       起始日期  结束日期
0   采掘  000552   靖远煤电 2008-06-02   NaN
1   采掘  000571  *ST大洲 2011-10-10   NaN
2   采掘  000629   攀钢钒钛 2015-10-31   NaN
3   采掘  000655   金岭矿业 2015-10-31   NaN
4   采掘  000723   美锦能源 2008-06-02   NaN

In [10]:
df.dtypes

行业名称            object
股票代码            object
股票名称            object
起始日期    datetime64[ns]
结束日期           float64
dtype: object

In [8]:
import sys
sys.path.append('/Users/luoyonggui/PycharmProjects/mayiutils_n1/mayiutils/db')
from pymongo_wrapper import PyMongoWrapper

In [9]:
mongo = PyMongoWrapper()

In [11]:
mongo.insertDataframe(df, 'finance', 'swclass')

In [13]:
df.行业名称.nunique()

28

In [12]:
df.行业名称.value_counts()

机械设备    341
化工      338
医药生物    306
电子      250
计算机     213
电气设备    193
汽车      173
传媒      167
公用事业    161
房地产     132
轻工制造    128
建筑装饰    127
交通运输    116
有色金属    115
通信      101
商业贸易     96
食品饮料     95
纺织服装     84
农林牧渔     84
非银金融     79
国防军工     67
建筑材料     67
采掘       66
家用电器     58
综合       34
银行       33
休闲服务     33
钢铁       31
Name: 行业名称, dtype: int64